/* header image */

header {
    min-width: 320px;
    background-color: white;
}

img.center {
    padding-left: 0.5cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header_nav {
    list-style-type: none;
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    display: inline;
}

li a {
    display: inline-block   ;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav:hover, .nav:active {
    background-color: white;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
    background-color: whitesmoke;
    width: 100%;
}

@media screen and (max-width: 541px) {
    body {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
        background-color: white;
    }
    
}

#profile {
    padding-top: 0.5cm;
}
@media screen and (min-width: 542px) {
    body {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }
    
    .container {
        width: 542px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* footer */
footer {
   
    text-align: center;
    background-color: gainsboro;
    margin-bottom: 0;
    padding-top: 2cm;
    padding-bottom: 2cm;
    margin-top: 0;
}
